:root {
    --color1: rgba(65, 127, 169, .8);
    --color2: rgba(18, 74, 114, .8);
    --color3: rgba(5, 50, 75, .8);
    --color4: rgba(0, 43, 54, .8);
    --highlight: rgb(65, 127, 169);
}

main {
    background: url(../media/bg8.gif);
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
}