:root {
    --color1: rgba(17, 118, 75, .8);
    --color2: rgba(19, 75, 68, .8);
    --color3: rgba(17, 49, 66, .8);
    --color4: rgba(156, 33, 66, .8);
    --highlight: rgb(52, 211, 142);
}

main { background: url('../media/bg2.gif') }