:root {
    --color1: rgba(43, 159, 136, .8);
    --color2: rgba(11, 111, 135, .8);
    --color3: rgba(0, 75, 111, .8);
    --color4: rgba(233, 203, 91, .8);
    --highlight: rgb(43, 159, 136);
}

main {
    background: url(../media/bg9.gif);
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
}