:root {
    --color1: rgba(230, 67, 7, .8);
    --color2: rgba(187, 20, 7, .6);
    --color3: rgba(146, 39, 39, .6);
    --color4: rgba(18, 38, 53, .8);
    --highlight: rgb(230, 67, 7);
}

main {
    background: url(../media/bg7.gif);
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
}