:root {
    --color1: rgba(7, 143, 74, .8);
    --color2: rgba(236, 69, 86, .8);
    --color3: rgba(203, 164, 50, .8);
    --color4: rgba(1, 108, 223, 0.8);
    --highlight: rgb(10, 184, 85);
}

main {
    background: url(../media/bg11.gif);
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
}