:root {
    --color1: rgba(11, 112, 169, .8);
    --color2: rgba(0, 59, 75, .8);
    --color3: rgba(0, 109, 83, .8);
    --color4: rgba(222, 178, 26, .8);
    --highlight: rgb(255, 218, 40)
}

main { 
    background: url('../media/bg13.gif');
    background-size: 100% 100% !important;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
}